@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light; 
  color: #212529; 
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white; 
  color: #212529; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px;
}

.app {
  width: 100%;
}